body {
    font-family: 'Roboto', sans-serif;
    
    background: linear-gradient(120deg, #e3f2fd, #bbdefb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h1 {
    color: #004aad;
    font-size: 2em;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    background-color: #004aad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #003075;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}